@model ecomerce.Data.KhachHang

@{
    ViewData["Title"] = "Đăng ký";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center">Tạo tài khoản mới</h1>
        <hr />
        <form asp-action="Register" asp-controller="Account">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="MaKh" class="form-label">TenDangNHap</label>
                <input asp-for="MaKh" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="HoTen" class="form-label">Họ tên</label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="MatKhau" class="form-label">Mật khẩu</label>
                <input asp-for="MatKhau" type="password" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="DienThoai" class="form-label">Điện thoại</label>
                <input asp-for="DienThoai" class="form-control" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="DiaChi" class="form-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="NgaySinh" class="form-label">Ngày sinh</label>
                <input asp-for="NgaySinh" type="date" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="GioiTinh" class="form-label">Giới tính</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="GioiTinh" value="true" checked />
                        <label class="form-check-label" for="GioiTinh_Nam">Nam</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="GioiTinh" value="false" />
                        <label class="form-check-label" for="GioiTinh_Nu">Nữ</label>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Đăng ký</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <a asp-action="Login">Bạn đã có tài khoản? Đăng nhập ngay!</a>
        </div>
    </div>
</div>
